aiofiles
aiohttp
aria2p
bs4
covid
cowpy
cryptg
dnspython
emoji
fast-youtube-search
ffmpeg
ffmpeg-python
git+git://github.com/code-rgb/pyrogram.git@verlock
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
hachoir
heroku3
html-telegraph-poster
instaloader
jikanpy
motor
natsort
nekos.py
oauth2client
Pillow
psutil
pybase64
pymediainfo
pyrogram
pySmartDL
pysmartdl
python-dotenv
python-magic
python-youtube
pytube
pytube3
pytz
PyYAML
rarfile
removebg
requests
search-engine-parser
selenium
setuptools
spamwatch
speedtest-cli
stagger
telegraph
tgcrypto
urbandict
wget
wikipedia
youtube_dl
youtube-search
youtube-search-python
ytmdl
yt-search
