aiofiles
aiohttp
bs4
cowpy
dnspython
emoji
ffmpeg
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
googletrans
hachoir
heroku3
html-telegraph-poster
instaloader
jikanpy
motor
natsort
nekos.py
oauth2client
Pillow
psutil
pybase64
pymediainfo
git+git://github.com/code-rgb/pyrogram.git@verlock
pySmartDL
python-dotenv
pytz
PyYAML
rarfile
removebg
requests
search-engine-parser
selenium
setuptools
spamwatch
speedtest-cli
stagger
telegraph
tgcrypto
urbandict
wget
wikipedia
youtube_dl
covid
